<!DOCTYPE html>
<html>
  <head>
<title>AIE.co.id</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background: url('https://i.pinimg.com/564x/79/e1/04/79e10488b87f3c8e1274babe19f4fed9.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    AI Education
  </div>
  <div class="w3-display-middle">
  <center>
    <img id="bg" src="{{ url_for('video_feed') }}" style="height: 560px; width: 860px;">
  </center>
  </div>
</div>

</body>
</html>